body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}
form {
    display: flex;
    flex-direction: column;
}
.form-control {
    margin-bottom: 10px;
}
label {
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
input[type="password"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: horizontal; /* Allow the textarea to be resized vertically */
}

button {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #333;
}
